@charset "UTF-8";

//default background color
$bg: #fff;

//default font-size
$fs: 12px;
$base-font-size: $fs;
$base-line-height: $fs*1.5;

//width of content
$cw: 980px;

//footer height
$fh: 350px;

//padding container
$cp: 20px;

//tooltip corner size
$tt: 5px;
